body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #434343, #000000);
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px #000;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

.card {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 10px;
    perspective: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: 10px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5em;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-back {
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
